<app-spinner [hidden]="!loading"></app-spinner>
<input type="text" class="input" placeholder="Address..." #inputElement [hidden]="loading">
<div class="map" #mapElement [hidden]="loading"></div>

<div class="col-sm-6 row" >
  <app-spinner [hidden]="weather && !loading"></app-spinner>
  <table class="table" *ngIf="weather" [hidden]="!weather">
    <thead>
    <tr>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Average Temperature ° Kelvin</th>
      <th *ngFor="let source of weather.weatherSources">{{source.sourceName}} Current Temperature ° Kelvin</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{weather.latitude}} 24</td>
      <td>{{weather.longitude}}</td>
      <td>{{weather.averageTemperature.kelvin}}</td>
      <td *ngFor="let source of weather.weatherSources">{{source.currentTemperature.kelvin }}</td>
    </tr>
    <tr>

    </tr>
    </tbody>
  </table>
</div>
